
@import "~bootswatch/dist/lux/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/lux/bootswatch";

$main-color: white;

body {
    background-color: $main-color;
}

.nav-link {
    font-size: 1.2rem;
}

a:hover{
    text-decoration: none;
}

.card-footer{
    .badge-pill:before{
        content: '#';
    }
}

.card-header{
    color: black;
}

.tags{
    font-size: 1rem;
    &:before{
        content: '#';
    }
}

.articleOfTheMonth{
    color: white;
    font-size: 2rem;
}

.edit-author{
    .btn-outline-primary{
        padding: 5px 10px;
    }
}

.fa-heart{
    font-size: 1.5rem;
    margin-left: 10px;
}